:root {
	--background-color: #0b0c10;
	--first-color: #212121;
	--second-color: #fffeff;
	--third-color: #fab005;
	--fourth-color: #f66358;
	--fift-color: #367526;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.7 !important;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	background-color: var(--background-color);
	background-image: linear-gradient(
			30deg,
			#212121 12%,
			transparent 12.5%,
			transparent 87%,
			#212121 87.5%,
			#212121
		),
		linear-gradient(
			150deg,
			#212121 12%,
			transparent 12.5%,
			transparent 87%,
			#212121 87.5%,
			#212121
		),
		linear-gradient(
			30deg,
			#212121 12%,
			transparent 12.5%,
			transparent 87%,
			#212121 87.5%,
			#212121
		),
		linear-gradient(
			150deg,
			#212121 12%,
			transparent 12.5%,
			transparent 87%,
			#212121 87.5%,
			#212121
		),
		linear-gradient(
			60deg,
			#21212177 25%,
			transparent 25.5%,
			transparent 75%,
			#21212177 75%,
			#21212177
		),
		linear-gradient(
			60deg,
			#21212177 25%,
			transparent 25.5%,
			transparent 75%,
			#21212177 75%,
			#21212177
		);
	background-size: 12px 21px;
	background-position: 0 0, 0 0, 6px 11px, 6px 11px, 0 0, 6px 11px;
}

/* Sidenav */
.sidenav {
	text-align: center;
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 10px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	opacity: 0.7;
}

.sidenav h1 {
	color: white;
	margin-bottom: 20px;
}

body:has(.sidenav) .container {
	margin-left: 170px;
}
/* Sidenav */

.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

/* Welcome Dashboard */

.welcome {
	text-align: left;
	margin-top: 20px;
	color: white;
	padding: 20px;
}

/* Welcome Dashboard */

/* Card */

.card-container {
	padding: 20px;
	display: flex;
	color: white;
	flex-wrap: wrap;
	gap: 30px;
}

.card {
	padding: 20px;
	border-radius: 10px;
	background-color: var(--first-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card h1 {
	margin-top: 15px;
	font-size: xx-large;
}

.card-top {
	display: flex;
	gap: 10px;
}

.card-top span {
	margin-top: -3px;
}

/* Stats */
.container-stats {
	padding: 10px;
	background-color: var(--first-color);
	width: 70%;
	border-radius: 10px;
	margin-left: 20px;
	color: white;
}

.container-stats h1 {
	margin-bottom: 10px;
}

/* Container Link */
.container-link {
	background-color: var(--first-color);
	display: flex;
	flex-direction: column;
	gap: 70px;
	border-radius: 10px;
	width: 90%;
	color: white;
	padding: 20px;
	min-height: 450px;
	/* height: 300px; */
}

.container-link .link-title {
	display: flex;
	justify-content: space-between;
}

.link-title button {
	padding: 10px;
	border-radius: 5px;
	background-color: var(--background-color);
	color: white;
	font-size: medium;
}

.con-link {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.container-link .link {
	color: white;
	background-color: var(--background-color);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link button {
	padding: 10px;
	border-radius: 10px;
	margin: 0 2px;
	color: white;
}

.remove {
	background-color: var(--fourth-color);
}

.edit {
	background-color: var(--third-color);
}
/* MODAL */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.modal-header {
	padding: 20px;
	background-color: var(--background-color);
	color: white;
}

.modal-body {
	padding: 20px;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.modal-body input {
	background-color: var(--first-color);
	opacity: 0.7;
	color: var(--second-color);
	border: none;
	font-size: medium;
	border-radius: 10px;
	outline: none;
	padding: 10px;
	width: 100%;
	font-size: large;
}

.modal-footer {
	padding: 20px;
	background-color: var(--background-color);
	color: white;
}

.modal-content {
	margin-top: 100px !important;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 80%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.link-add {
	display: flex;
	justify-content: space-between;
	color: white;
	align-items: center;
}

.link-add button {
	padding: 15px;
	border-radius: 10px;
	color: white;
	background-color: var(--first-color);
}

.con-post-link {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.post-link {
	display: flex;
	gap: 20px;
}

button#save {
	padding: 10px;
	color: white;
	font-size: large;
	background-color: var(--first-color);
	border-radius: 10px;
	width: 200px;
	align-self: flex-end;
	background-color: var(--fift-color);
}

.remove-link {
	background-color: var(--fourth-color);
	color: white;
	padding: 10px;
	border-radius: 10px;
}

/* MODAL */

/* Footer */
.footer {
	margin-top: 20px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: center;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	/* position: fixed; */
	/* text-align: center; */
	/* bottom: 0; */
	/* width: 85%; */
}
/* Footer */

/* Responsive Phone */

@media (max-width: 768px) {
	body {
		font-size: 15px;
	}

	.login-section {
		width: 90%;
	}
}
