:root {
  --background-color : #0b0c10;
  --first-color : #212121;
  --second-color : #fffeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-color: var(--background-color);
  background-image:  linear-gradient(30deg, #212121 12%, transparent 12.5%, transparent 87%, #212121 87.5%, #212121), linear-gradient(150deg, #212121 12%, transparent 12.5%, transparent 87%, #212121 87.5%, #212121), linear-gradient(30deg, #212121 12%, transparent 12.5%, transparent 87%, #212121 87.5%, #212121), linear-gradient(150deg, #212121 12%, transparent 12.5%, transparent 87%, #212121 87.5%, #212121), linear-gradient(60deg, #21212177 25%, transparent 25.5%, transparent 75%, #21212177 75%, #21212177), linear-gradient(60deg, #21212177 25%, transparent 25.5%, transparent 75%, #21212177 75%, #21212177);
  background-size: 12px 21px;
  background-position: 0 0, 0 0, 6px 11px, 6px 11px, 0 0, 6px 11px;
}

/* Sidenav */
.sidenav {
  text-align: center;
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  opacity: .7;
}

.sidenav h1 {
  color: white;
  margin-bottom: 20px;
}

body:has(.sidenav) .container {
  margin-left: 160px;
}
/* Sidenav */

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.left-nav {
  display: flex;
  justify-content: space-around;
  width: fit-content;
}

.nav-items {
  padding: 20px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.nav-items:hover {
  background-color: red;
  border-radius: 10px;
  background-color: var(--first-color);
  /* background-color: rgb(14, 18, 30); */
}

/* Navbar */


/* Login Section */

.login-section {
  margin-top: 100px;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  gap: 30px;
  color: white;
  background-color: var(--first-color);
}

.login-section form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.login-section form input {
  background-color: var(--background-color);
  opacity: .7;
  color: var(--second-color);
  border: none;
  font-size: medium;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}

.login-section form button, .login-section form a {
  padding: 10px;
  margin-bottom: -10px;
  border-radius: 10px;
  color: var(--second-color);
  background-color: var(--background-color);
  outline: none;
  font-size: medium;
  cursor: pointer;
}

.login-section form button:hover {
  opacity: .7;
}

/* Login Section */

/* Footer */
.footer {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Footer */


/* Responsive Phone */

@media (max-width: 768px) {
  body {
      font-size: 15px;
  }

  .login-section {
    width: 90%;
  }
}

