<div class="sidenav">
    <h1>Artree</h1>
    <% if (role === 1) { %>
        <a href="/admin">Admin</a>
    <% } %>
    <a href="/dashboard">Dashboard</a>
    <a href="/link">Link</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
</div>