<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://kit.fontawesome.com/524dd30d0c.js" crossorigin="anonymous"></script>
    <title>Home | Artree </title>
  </head>
  <body>
    
    <div class="container">
      <nav class="navbar">
        <div class="left-nav">
          <a href="#" class="nav-items">Home</a>
          <a href="#" class="nav-items">Pricing</a>
        </div>
        <a href="#" class="nav-items">Login</a>
      </nav>

      <div class="jumbotron">
      <i class="fa-solid fa-link icon" style="font-size: xx-large;"></i>
          <h1>Share Your Link With Just One Click</h1>
          <span>Satu Tautan, Tak Terbatas Koneksi : Hubungkan Semua Konten Anda dengan Mudah!</span>

          <div class="social-button">
              <a href="/register">Sign Up</a>
              <a href="/login">Login</a>
          </div>

      </div>
      <div class="jumbotron">
      <i class="fa-solid fa-palette" style="font-size: xx-large;"></i>
          <h1>Customize Your Site</h1>
          <span>Edit dan Kustomisasi Link Kamu Untuk Memperoleh Tampilan Yang Cantik dan Keren</span>

          <h2 style="font-style: italic;">Cooming Soon</h2>
      </div>

      <div class="footer">
        <span style="font-size: larger; font-weight: bolder;">Copyright By Aris</span>
        <span>Sejak Tahun 2023</span>
      </div>
    </div>

  </body>
</html>