<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/logreg.css">
    <script src="https://kit.fontawesome.com/524dd30d0c.js" crossorigin="anonymous"></script>
    <title>Username | Artree Name</title>
  </head>
  <body>
    
    <div class="container">
      <nav class="navbar">
        <div class="left-nav">
          <a href="#" class="nav-items">Home</a>
          <a href="#" class="nav-items">Pricing</a>
        </div>
        <a href="#" class="nav-items">Login</a>
      </nav>
      
      <div class="login-section">
        <h1>Artree | Login</h1>

        <form action="">
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
          <button>Login</button>
          <a href="/register">Register</a>
        </form>
      </div>
    </div>
  </body>
</html>